@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Sans+Narrow:400,700|Ubuntu');

$inherit: inherit;

$primary-color-first: #333;
$primary-color-second: $inherit;
$primary-color-third: $inherit;

$secondary-color-first: #fc3a3e;
$secondary-color-second: $inherit;
$secondary-color-third: $inherit;

$default-color-first: transparent;
$default-color-second: #fff;

$font-family-first: 'PT Sans Narrow', sans-serif;
$font-family-second: 'Oswald', sans-serif;
$font-family-third: 'Ubuntu', sans-serif;

$font-weight-thin: 300;
$font-weight-regular: 400;
$font-weight-bold: 600;

$font-size: 16px;

$gutter: 40px;
$gutter-small: 20px;
